@page
@model EasyCodeAcademy.Web.Pages_Manage_Courses.DeleteModel

@{
    ViewData["ContentTitle"] = "Delete Course";
    ViewData["Title"] = "EasyCode Manage - Delete Course";
    ViewData["RulesTitle"] = "Delete Course Have One Rule";
    ViewData["RulesList"] = new String[]
    {
        "Double Check Your Delete Course"
    };

    Layout = "_CRUDLayout";
}

@*<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CoursePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CoursePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.created_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.created_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.updated_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.updated_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Topic.TopicName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Course.CourseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>*@


<div class="manage-delete-content">
    <ul class="delete-content-list">
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.CourseName)</span>
            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.CourseName)</span>
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.CourseDescription)</span>
            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.CourseDescription)</span>
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.CoursePrice)</span>
            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.CoursePrice)</span>
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.CourseType)</span>
@*            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.CourseType)</span>*@
            @if (Model.Course.CourseType == 1)
            {
                <b>Course</b>
            }

            @if (Model.Course.CourseType == 2)
            {
                <b>Tutorial</b>
            }
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.CourseStatus)</span>
@*            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.CourseStatus)</span>*@
            @if (Model.Course.CourseStatus == 1)
            {
                <b>Not Available</b>
            }

            @if (Model.Course.CourseStatus == 2)
            {
                <b>Queue</b>
            }

            @if (Model.Course.CourseStatus == 3)
            {
                <b>Available</b>
            }
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.CourseImage)</span>
@*            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.CourseImage)</span>*@
            <img src="/Assets/uploads/@Model.Course.CourseImage" alt="Course Image" width="200" />
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.created_date)</span>
            <span class="delete-item-content text-bold">@Html.DisplayFor(model => model.Course.created_date)</span>
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.updated_date)</span>
            <span class="delete-item-content text-bold">
                @Html.DisplayFor(model => model.Course.updated_date)
            </span>
        </li>
        <li class="delete-content-list__item">
            <span class="delete-item-title">@Html.DisplayNameFor(model => model.Course.Topic)</span>
            <span class="delete-item-content text-bold">
                @Html.DisplayFor(model => model.Course.Topic.TopicName)
                <form method="post">
                    <input type="hidden" asp-for="Course.CourseId" />
                    <input type="submit" value="Delete" class="delete-form-btn link-basic link-restart absolute-top-full-left border-restart cursor-pointer text-bold text-normal" />
                </form>
            </span>
        </li>
    </ul>
</div>
