@page
@model EasyCodeAcademy.Web.Pages_Manage_Topics.DetailsModel

@{
    ViewData["ContentTitle"] = "Details Topic";
    ViewData["Title"] = "EasyCode Manage - Details Topic";
    ViewData["RulesTitle"] = "Details Topic Have One Rule";
    ViewData["RulesList"] = new String[]
    {
        "Read Only."
    };

    Layout = "_CRUDLayout";
}

@*<h1>Details</h1>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.TopicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.created_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.created_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.updated_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.updated_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Topic?.TopicId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@

<div class="manage-details-content">
    <ul class="details-content-list">
        <li class="details-content-list__item">
            <span class="details-item-title">@Html.DisplayNameFor(model => model.Topic.TopicName)</span>
            <span class="details-item-content text-bold">@Html.DisplayFor(model => model.Topic.TopicName)</span>
        </li>
        <li class="details-content-list__item">
            <span class="details-item-title">@Html.DisplayNameFor(model => model.Topic.created_date)</span>
            <span class="details-item-content text-bold">@Html.DisplayFor(model => model.Topic.created_date)</span>
        </li>
        <li class="details-content-list__item">
            <span class="details-item-title">@Html.DisplayNameFor(model => model.Topic.updated_date)</span>
            <span class="details-item-content text-bold">
                @Html.DisplayFor(model => model.Topic.updated_date)
            </span>
        </li>
        <li class="details-content-list__item">
            <span class="details-item-title">@Html.DisplayNameFor(model => model.Topic.Category)</span>
            <span class="details-item-content text-bold">
                @Html.DisplayFor(model => model.Topic.Category.CategoryName)
                <a asp-page="./Edit" asp-route-id="@Model.Topic?.TopicId" class="details-item-link link-basic link-restart absolute-top-full-left">Edit</a>
            </span>        
        </li>
    </ul>
</div>
