@page "/course/{id:int?}/learn"
@model EasyCodeAcademy.Web.Pages.Courses.Learn.IndexModel
@{
}

<div class="content__container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__list__item">
                <a href="/" class="breadcrumb-link">Home</a>
                <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="breadcrumb__list__item">
                <a href="/courses" class="breadcrumb-link">Courses</a>
                <i class="fa-solid fa-angle-right"></i>
            </li>
            @*            <li class="breadcrumb__list__item">
            <a href="/courses/details" class="breadcrumb-link">Unity 3D Development</a>
            <i class="fa-solid fa-angle-right"></i>
            </li>*@
            <li class="breadcrumb__list__item">
                <a href="/course/details/@Model.Course.CourseId" class="breadcrumb-link">@Model.Course.CourseName</a>
                <i class="fa-solid fa-angle-right"></i>
            </li>
            @if(Model.CourseLesson is not null)
            {
                <li class="breadcrumb__list__item breadcrumb-current">@Model.CourseLesson.Title</li>
            } else {
                <li class="breadcrumb__list__item breadcrumb-current">Lesson</li>
            }
            
        </ul>
    </div>

    <div class="course-learn-content">
        <div class="course-learn-content__video">
            <video class="course-learn-video" controls poster="/Assets/img/e-learning-education-template-vector-technology-ad-banner.jpg">
                <source src="/Assets/uploads/video/@Model.CourseLesson.Video" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="course-learn-content__chapters ml-16">
            <div class="course-chapters-title text-heading">Course Content</div>
            <div class="course-chapters-content">
                <ul class="course-chapters-list">
                    @if(Model.Course.CourseChapters is not null)
                    {
                        foreach (var courseChapter in Model.Course.CourseChapters)
                        {
                            <li class="course-chapters-list__item">
                                <div class="course-chapter-container">
                                    <button type="button" class="course-chapter-btn btn-restart">@courseChapter.Title</button>
                                    <span class="course-chapter-more-icon">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </span>
                                </div>
                                <ul class="course-lesson-list">
                                    @if(courseChapter.CourseLessons is not null)
                                    {
                                        if(courseChapter.CourseLessons.Count > 0)
                                        {
                                            foreach (var courseLesson in courseChapter.CourseLessons)
                                            {
                                                <li class="course-lesson-list__item">
                                                    <a href="/course/@Model.Course.CourseId/learn?lessonId=@courseLesson.LessonId" class="course-lesson-link">@courseLesson.Title</a>
                                                    <span class="lesson-exercise-count">
                                                        @if(courseLesson.CourseExerises is not null)
                                                        {
                                                            <a href="/course/@Model.Course.CourseId/learn/@courseLesson.LessonId/exercises" class="lesson-exercise-count__link">@courseLesson.CourseExerises.Count Exercise</a>
                                                        } else {
                                                            <a href="/course/@Model.Course.CourseId/learn/@courseLesson.LessonId/exercises" class="lesson-exercise-count__link">0 Exercise</a>
                                                        }
                                                    </span>
                                                </li>
                                            }
                                        } else {
                                            <li class="course-lesson-list__item">
                                                <span class="course-lesson-not-found-text ml-8">Lesson Not Found.</span>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    } else {
                        <li class="course-chapters-list__item">
                            <div class="course-chapter-container">
                                <span class="course-chapter-not-found-text ml-8">Course Content Not Found.</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="course-learn-info mt-64">
        <div class="course-learn-info__lesson">
            <div class="course-lesson-title text-heading">@Model.CourseLesson.Title</div>
            <div class="course-lesson-content mt-8">
@*                <p class="course-lesson-content__text">
                    This lesson aim to
                    show how to install unity engine and explore
                    how unity engine work by extract
                    some basic component, layout, object,etc...
                </p>*@
                @Html.Raw(Model.CourseLesson.Description)
            </div>
        </div>
        <div class="lesson-learn-info__achieve mt-16">
            <div class="lesson-achieve-title text-heading">Lesson Achieve</div>
            <div class="lesson-achieve-content mt-8">
                <ul class="lesson-achieve-list">
@*                    <li class="lesson-achieve-list__item">How To Install Unity Engine</li>
                    <li class="lesson-achieve-list__item">Have knowledge How Unity Engine Work</li>*@
                    @if(Model.CourseLesson.Achievement is not null)
                    {
                        @for (int i = 0; i < Model.CourseLesson.Achievement.Split(',').Length; i++)
                        {
                            <li class="lesson-achieve-list__item">@Model.CourseLesson.Achievement.Split(',')[i]</li>
                        }
                    } else {
                        <li class="lesson-achieve-list__item">No Achievement Found.</li>
                    }
                </ul>
            </div>
        </div>
        <div class="lesson-learn-info__resource mt-16">
            <div class="lesson-resource-title text-heading">Resource</div>
            <div class="lesson-resource-content mt-8">
                <ul class="lesson-resource-list">
                    <li class="lesson-resource-list__item">
                        <a href="https://unity3d.com/get-unity/download" class="lesson-resource-link">
                            <i class="fa-solid fa-link"></i>
                            <span class="lesson-resource-link__text">Install Unity Engline</span>
                        </a>
                    </li>
                    <li class="lesson-resource-list__item">
                        <a href="https://www.google.com/" class="lesson-resource-link">
                            <i class="fa-solid fa-cloud-arrow-down"></i>
                            <span class="lesson-resource-link__text">Lesson Slide</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lesson-learn-info__action mt-32">
            <div class="lesson-action">
                <a href="" class="lesson-action__link">
                    <i class="fa-solid fa-angles-left"></i>
                    <span class="lesson-action-text">Previous Lesson</span>
                </a>
                <a href="" class="lesson-action__link">
                    <span class="lesson-action-text">Next Lesson</span>
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
        </div>
        <div class="lesson-learn-info__feedback mt-32">
            <div class="lesson-feedback-title text-heading">Feedback</div>
            <div class="lesson-feedback-content mt-8">
                <div class="lesson-give-feedback">
                    <div class="lesson-give-feedback__container">
                        <div class="give-feedback-profile">
                            <img src="/Assets/img/gamedevTV.jpg" alt="User Image" class="user-profile-img" />
                            <span class="user-profile-text">TS</span>
                        </div>
                        <div class="give-feedback-content">
                            <form class="give-feedback-form" action="" method="post">
                                <input type="text" class="give-feedback-input text-normal" placeholder="Your Feedback" />
                                <select class="give-feedback-select text-normal">
                                    <option value="3" class="give-feedback-option">Useful</option>
                                    <option value="2" class="give-feedback-option">It's Ok!</option>
                                    <option value="1" class="give-feedback-option">Not sastisfy</option>
                                    <option value="0" class="give-feedback-option">Not useful</option>
                                </select>
                                <button type="submit" class="give-feedback-btn btn-restart">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="lesson-feedback-status mt-32">
                    <div class="lesson-feedback-status__point">
                        <span class="lesson-feedback-point sub-heading">Useful</span>
                        <span class="lesson-point-meaning">Lesson Quality</span>
                    </div>
                    <div class="lesson-feedback-status__progress">
                        <div class="lesson-progress">
                            <div class="progress-bar__container">
                                <div class="progress-bar">
                                    <span class="p-100"></span>
                                </div>
                                <div class="progress-bar-status">
                                    <span class="progress-status-text">Useful</span>
                                    <button type="button" class="progress-percent-btn btn-restart">100%</button>
                                </div>
                            </div>
                            <div class="progress-bar__container">
                                <div class="progress-bar">
                                    <span class="p-75"></span>
                                </div>
                                <div class="progress-bar-status">
                                    <span class="progress-status-text">It's Ok!</span>
                                    <button type="button" class="progress-percent-btn btn-restart">75%</button>
                                </div>
                            </div>
                            <div class="progress-bar__container">
                                <div class="progress-bar">
                                    <span class="p-50"></span>
                                </div>
                                <div class="progress-bar-status">
                                    <span class="progress-status-text">Not sastisfy</span>
                                    <button type="button" class="progress-percent-btn btn-restart">50%</button>
                                </div>
                            </div>
                            <div class="progress-bar__container">
                                <div class="progress-bar">
                                    <span class="p-25"></span>
                                </div>
                                <div class="progress-bar-status">
                                    <span class="progress-status-text">Not useful</span>
                                    <button type="button" class="progress-percent-btn btn-restart">25%</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lesson-feedback-contributor mt-32">
                    <div class="feedback-contributor__container">
                        <div class="contributor-profile-img">
                            <img src="/Assets/img/gamedevTV.jpg" alt="Contributor Image" class="profile-img" />
                        </div>
                        <div class="contributor-profile-text">
                            <span class="profile-text">TS</span>
                        </div>
                        <div class="contributor-feedback-content">
                            <div class="contributor-fullname">Thanh Sang</div>
                            <div class="contributor-status">Useful</div>
                            <div class="contributor-feedback-text mt-8">This lesson help me know how Unity work!</div>
                            <div class="contributor-feedback-action mt-8">
                                <button type="button" class="feedback-action-btn btn-restart">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                <button type="button" class="feedback-action-btn btn-restart ml-8">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                </button>
                            </div>
                            <div class="contributor-feedback-report mt-16">
                                <div class="contributor-feedback-report__container">
                                    <button type="button" class="feedback-report-btn btn-restart">
                                        <i class="fa-regular fa-flag"></i>
                                    </button>
                                    <span class="feedback-report-text">Report</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        const chapterBtns = document.querySelectorAll(".course-chapter-btn");

        if (chapterBtns[0].parentElement.nextElementSibling) {
            chapterBtns[0].parentElement.nextElementSibling.classList.add("show");
        }

        chapterBtns.forEach(item => {
            item.addEventListener("click", function () {
                if (item.parentElement.nextElementSibling) {
                    if (item.parentElement.nextElementSibling.classList.contains("course-lesson-list")) {
                        item.parentElement.nextElementSibling.classList.toggle("show");
                    }
                }

            });
        });

        // Add Css Scope For Lesson Content List and Class
        const lessonContentContainer = document.querySelector(".course-lesson-content");
        if(lessonContentContainer.children)
        {
            for (let i = 0; i < lessonContentContainer.children.length; i++)
            {
                if (lessonContentContainer.children[i].tagName.toLowerCase() == "ol" || lessonContentContainer.children[i].tagName.toLowerCase() == "ul") {
                    lessonContentContainer.children[i].setAttribute("custom-page-course-details", "");
                    lessonContentContainer.children[i].classList.add("lesson-content-list");
                    for (let j = 0; j < lessonContentContainer.children[i].children.length; j++)
                    {
                        lessonContentContainer.children[i].children[j].setAttribute("custom-page-course-details", "");
                        lessonContentContainer.children[i].children[j].classList.add("lesson-content-list__item")
                    }
                }
            }
        }

    </script>
}
