@page
@model EasyCodeAcademy.Web.Pages_Manage_Categories.IndexModel

@{
    Layout = "_SubLayout";
    ViewData["ContentTitle"] = "Category";
    ViewData["Title"] = "EasyCode Manage - Category";
    int orderNumber = 0;
}

<div class="manage-container">
    <div class="action-content">
        <div class="action-content__create">
            <a asp-page="Create" class="link-restart text-bold link-basic">Create New</a>
        </div>

        <div class="form-search-content">
            <form method="get" asp-page="./Index" class="search-form">
                <input type="text" name="SearchString" id="category-search-input" class="search-input text-normal" placeholder="Keyword" />
                <button type="submit" class="search-btn btn-restart"><i class="fa-solid fa-magnifying-glass text-heading"></i></button>
            </form>
        </div>
    </div>

    <div class="table-container">
        <table class="content-table">
            <thead class="content-thead">
                <tr class="content-tr">
                    <th class="content-th">Order</th>
                    <th class="content-th">
                        @Html.DisplayNameFor(model => model.Category[0].CategoryName)
                    </th>
                    <th  class="content-th">
                        @Html.DisplayNameFor(model => model.Category[0].created_date)
                    </th>
                    <th class="content-th">
                        @Html.DisplayNameFor(model => model.Category[0].updated_date)
                    </th>
                    <th class="content-th">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="content-tbody">
                @if(Model.Category is not null)
                {
                    @foreach (var item in Model.Category) {
                        <tr class="content-tr">
                            <td class="content-td">@(++orderNumber)</td>
                            <td class="content-td">
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td class="content-td">
                                @Html.DisplayFor(modelItem => item.created_date)
                            </td>
                            <td class="content-td">
                                @Html.DisplayFor(modelItem => item.updated_date)
                            </td>
                            <td class="content-td">
                                <a asp-page="./Edit" asp-route-id="@item.CategoryId" class="link-restart text-bold link-basic">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.CategoryId" class="link-restart text-bold link-basic">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.CategoryId" class="link-restart text-bold link-basic">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

